.contents {
  h2 {
    font-size: 20px;
    margin: 5px 0 10px 0;
  }

  .inner-section {
    min-height: 100px;

    h2 {
      font-size: 18px;
      margin: 5px 0 10px 0;

      span {
        font-weight: 500;
      }
    }

    button.select-elem {
      background-color: $select-options;
      border-radius: 6px;
      border: 1px solid $select-options;
      color: $white;
      cursor: pointer;
      height: 40px;
      font-size: 14px;
      margin-right: 15px;
      min-width: 130px;
      outline: 0;
      width: 100px;

      &:hover {
        background-color: $button-orig-color;
      }

      &.selected {
        background-color: $button-hover-color;
      }
    }
  }

  .main-section-footer {
    .inner-section#checkout {
      margin-top: 50px;
      text-align: center;

      button {
        font-size: 20px;
        height: 50px;
        outline: 0;
        width: 250px;
      }
    }
  }

}
