div.footer-content
  ul.footer-link
    li.internal-links
      ul
        li Contact Us
        li About Us
    li.company-links
      ul
        li What we do
        li Why Us
    li.legal-info Legal Info
  .copyright Copyright by Keshari
