header
  .header-content
    div(
      class = 'company-info'
    )
      a(
        href="/"
      ) Simpy Printing
    div(
      class = 'contact-info'
    ) Call: +91 987 654 3210
    div(
      class = 'user-info'
    ) My Account

  nav#top-nav(
    role="navigation"
    )
    include ./header_nav
