body .main-section{
  .header-content {
    display: none;
    line-height: 40px;
    font-weight: 500;

    h2 {
      margin-top: 5px;
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &.reverse {
      flex-direction: row-reverse;

      .right-panel {
        padding: 0 50px 0 0;
      }
    }

    .left-panel {
      font-size: 16px;
      width: 220px;
      margin-top: 50px;
      min-width: 200px;

      #service-item {
        width: 100%;

        &.sticky {
          position: fixed;
          top: 50;
          width: inherit;
        }
      }

      ul {
        border: 1px solid $light-gray;
        border-radius: 4px;

        li {
          border-bottom: 1px solid $light-gray;
          border-radius: 1px;
          height: 40px;
          vertical-align: middle;
          position: relative;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: $lighter-gray;
          }

          &.selected {
            background-color: $light-gray;
          }

          a {
            display: block;
            line-height: 40px;
            padding: 0 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;

            .menu-pointer {
              // @extend .icon-right-arrow;
            }
          }
        }
      }

      nav#move-to-top {
        bottom: 100px;
        position: fixed;
        width: 220px;

        .up-arrow {
          background-image: url('/assets/move_to_top.svg');
          background-position: center;
          @include background-size(cover);
          cursor: pointer;
          display: none;
          height: 50px;
          margin: 0 auto;
          width: 50;

          .arrow-text {
            color: $link-color-normal;
            font-size: 18px;
            height: 100%;
            padding-top: 48px;
            text-align: center;
          }
        }
      }
    }

    .right-panel {
      min-width: 400px;
      padding-left: 50px;
      vertical-align: top;
      width: 75%;

      #main-heading {
        margin-top: 0;
        margin-bottom: 30px;

        h3 {
          font-size: 23px;
        }

        .panel-images {
          text-align: left;

          figure {
            display: inline-block;
            margin: 0;
            padding: 20px 35px 0 0;

            &:last-child {
              padding-right: 0;
            }

            .image-tile {
              display: block;
              height: 250px;
              width: 250px;
            }

            #image-1 {
              background-image: url('/assets/panel1.jpg');
            }
            #image-2 {
              background-image: url('/assets/panel2.jpg');
            }
            #image-3 {
              background-image: url('/assets/panel3.jpg');
            }
          }
        }
      }

      .sub-section {
        margin-bottom: 15px;
        margin-top: 15px;

        .heading {
          margin-bottom: 15px;

          h3 {
            border-bottom: 1px solid $light-gray;
            padding-bottom: 5px;
            margin-top: 0;
          }
        }

        .contents {
          min-height: 500px;
        }

        footer {
          margin-top: 10px;

          .sub-footer {
            display: flex;
            justify-content: flex-end;

            a {
              background-color: $theme-color;
              color: $link-color-bg;
              display: block;
              line-height: 40px;
              text-align: center;
              width: 250px;
            }
          }
        }
      }
    }
  }
}
