.contents {
  min-height: 600px;

  #main-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;

    .header-content {
      display: none;
      line-height: 40px;
      font-weight: 500;

      h2 {
        margin-top: 5px;
      }
    }

    .body {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .left-panel {
        margin-top: 44px;
        min-width: 200px;
        width: 20%;
        font-size: 16px;

        #service-item {
          width: 100%;

          &.fixed {
            position: fixed;
            top: 0;
          }
        }

        ul {
          border: 1px solid #aaa;
          border-radius: 4px;

          li {
            border-bottom: 1px solid #aaa;
            border-radius: 1px;
            height: 40px;
            vertical-align: middle;
            position: relative;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: #ccc;
            }

            a {
              display: block;
              line-height: 40px;
              padding: 0 5px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;

              .menu-pointer {
                // @extend .icon-right-arrow;
              }
            }
          }
        }
      }

      .right-panel {
        padding-left: 50px;
        vertical-align: top;
        width: 80%;

        .panel-header {
          h3 {
            margin-top: 0;
          }
        }

        .panel-body {
          .panel-text {
            margin-bottom: 20px;
          }

          .panel-images {
            figure {
              display: inline-block;
              padding: 20px 30px 0 0;
              margin: 0;

              &:last-child {
                padding-right: 0;
              }

              .image-tile {
                display: block;
                height: 250px;
                width: 250px;
              }

              #image-1 {
                background-image: url('/assets/panel1.jpg');
              }
              #image-2 {
                background-image: url('/assets/panel2.jpg');
              }
              #image-3 {
                background-image: url('/assets/panel3.jpg');
              }
            }
          }
        }

        .sub-section {
          .heading {
            margin-bottom: 15px;

            h3 {
              border-bottom: 1px solid #aaa;
              margin-bottom: 5px;
            }
          }

          .contents {
            min-height: 300px;
          }

          .sub-footer {
            display: flex;
            justify-content: flex-end;

            a {
              display: block;
              width: 150px;
              background-color: #0a6689;
              color: white;
              line-height: 40px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
