extends ../base/main.pug

block contents
  .contents#main-contents
    | !{reactHTML}

block footer
  .c-footer#c-footer
    include ../footer/main

block scripts
  script.
    window.__PRELOADED_STATE__= !{JSON.stringify(preloadedState)};
  script(
    src='/assets/react-with-addons.js'
  )
  script(
    src='/assets/react-dom.js'
  )
