.contents {
  min-height: 600px;

  #main-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;

    .header-content {
      line-height: 40px;
      font-weight: 500;

      h2 {
        margin-top: 5px;
      }
    }

    .body {
      display: flex;
      justify-content: space-between;

      .left-panel {
        min-width: 200px;
        width: 20%;
        font-size: 16px;

        ul {
          border: 1px solid #aaa;
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: 1px solid #aaa;
            padding: 5px;
            height: 40px;
            vertical-align: middle;
            position: relative;

            &:last-child {
              border-bottom: none;
            }

            a {
              display: block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .right-panel {
        padding-left: 50px;
        vertical-align: top;
        width: 80%;

        .panel-header {
          h3 {
            margin-top: 0;
          }
        }

        .panel-body {
          .panel-text {
            margin-bottom: 20px;
          }

          .panel-images {
            figure {
              display: inline-block;
              margin: 20px 30px 0 0;

              &:last-child {
                margin-right: 0;
              }

              .image-tile {
                display: block;
                height: 250px;
                width: 250px;
              }

              #image-1 {
                background-image: url('/assets/panel1.jpg');
              }
              #image-2 {
                background-image: url('/assets/panel2.jpg');
              }
              #image-3 {
                background-image: url('/assets/panel3.jpg');
              }
            }
          }
        }
      }
    }
  }
}
