.promotion-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 30px; }
  .promotion-header .promotion-text {
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    width: 79%; }
    .promotion-header .promotion-text a {
      margin-left: 10px; }
  .promotion-header .close-icon {
    font-size: 28px;
    margin-right: 20px; }
    .promotion-header .close-icon:after {
      content: "\D7";
      display: inline-block; }

.header {
  background-color: #0A6689;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 45px; }
  .header .header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto 15px; }
    .header .header-content .company-info, .header .header-content .contact-info, .header .header-content .user-info {
      height: 100%; }
    .header .header-content .company-info {
      font-size: 19px;
      font-weight: bolder;
      text-align: left;
      width: 30%; }
    .header .header-content .contact-info {
      text-align: center;
      width: 30%; }
    .header .header-content .user-info {
      text-align: right;
      width: 39%; }

.list-options {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 30px;
  margin: 5px 0;
  padding: 0; }
  .list-options li {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 20%; }
    .list-options li:last-child {
      width: 19%; }

.contents {
  margin: auto 15px;
  min-height: 500px; }

.footer {
  border-top: 1px solid black;
  min-height: 100px; }
  .footer .footer-content {
    margin: 15px 30px; }
    .footer .footer-content ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .footer .footer-content .footer-link {
      justify-content: space-between; }
      .footer .footer-content .footer-link li {
        display: inline-block;
        margin: 0 auto;
        width: 33%; }
        .footer .footer-content .footer-link li.internal-links ul li, .footer .footer-content .footer-link li.company-links ul li, .footer .footer-content .footer-link li.legal-info ul li {
          display: block; }
        .footer .footer-content .footer-link li.legal-info {
          text-align: center;
          vertical-align: top; }
    .footer .footer-content .copyright {
      padding: 10px 0;
      text-align: center;
      width: 100%; }

body {
  margin: 0; }
  body a {
    text-decoration: none;
    color: #126482; }
