#session-optional
  div.optional-signup
    | Do not have account yet.
    a(
      href='/signup'
      ) Register
    | now.

  div.optional-login
    | Remember your password.
    a(
      href='/login'
      ) Login
    | now.
