@import './mixins';
@import './variables';

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

body {
  margin: 0;

  a {
    color: $link-color-normal;
    text-decoration: none;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }

    &:focus {
      color: $link-color-hover;
      outline: thin dotted;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .icon-down-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #126482;
  }

  .icon-up-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #126482;
  }

  .icon-left-arrow {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #126482;
  }

  .icon-right-arrow {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #126482;
  }

  .main-contents {
    margin: 15px auto;
    max-width: $max-width;
    min-height: 600px;
    padding: 0 10px;
  }
}
