@import './mixins';
@import './variables';

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

body {
  margin: 0;

  a {
    text-decoration: none;
    color: $link-color-normal;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .icon-down-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #126482;
  }

  .icon-up-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #126482;
  }

  .icon-left-arrow {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #126482;
  }

  .icon-right-arrow {
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #126482;
  }

  section.main-section {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 600px;
    padding: 0 10px;
  }
}
