$theme-color: #0A6689;
$white: #FFFFFF;
$light-gray: #AAAAAA;
$lighter-gray: #CCCCCC;
$lightest-gray: #eeeeee;
$link-color-normal: #348dad;
$link-color-hover: #0A6689;
$link-color-bg: #FFFFFF;
$link-color-bg-hover: #CCCCCC;
$button-orig-color: #1b7799;
$button-hover-color: #0A6689;
$select-options: #3a92b2;
$nav-active-bottom: #47a1c1;
$max-width: 1200px;
