header
  #brouchers-heading.heading
    h3 Brouchers
section
  #brouchers-content.contents
    p
      | A brochure is an informative paper document (often also used for advertising),
      | that can be folded into a template, pamphlet or leaflet.
      | Brochures are advertising pieces mainly used to introduce a company or organization and
      | inform about products or services to a target audience.

    figure.multi-row
      .item-tile
        .item-image
          img(src='/assets/panel1.jpg')
        figcaption
          .item-description
            .item-text
              h2  2-Fold Broucher
              p A single sheet printed on both sides and folded into halves
            .item-action
              .button-style
                a(
                  href='/order?mode=services&item=brouchers'
                  ) Place order

    figure.multi-row
      .item-tile
        .item-image
          img(src='/assets/panel2.jpg')
        figcaption
          .item-description
            .item-text
              h2 3-Fold Broucher
              p A single sheet printed on both sides and folded into thirds
            .item-action
              .button-style
                a(
                  href='/order?mode=services&item=brouchers'
                  ) Place order
    figure.multi-row
      .item-tile
        .item-image
          img(src='/assets/panel3.jpg')
        figcaption
          .item-description
            .item-text
              h2 4-Fold Broucher
              p A single sheet printed on both sides and folded into fourths
            .item-action
              .button-style
                a(
                  href='/order?mode=services&item=brouchers'
                  ) Place order
