header
  #brouchers-heading.heading
    h3 Brouchers heading
section
  #brouchers-content.contents
    | Create brouchers which are pleasing to eyes and can get you more Business
    | Extremely beneficial for you and your company-info
footer
  #visiting-cards-footer.sub-footer
    a(
      href='/order?mode=services&item=brouchers'
      ) Place Brouchers printing order
