#service-header.header
    .header-content
      h2 Header for services
#service-body.body.reverse
  .left-panel
    nav#service-item
      ul
        li.visiting-cards-nav#visiting-cards-nav
          a(
            href='#visiting-cards'

          ) Visiting Cards
            span.menu-pointer
        li.stationary-nav#stationary-nav
          a(
            href='#stationary'
          ) Stationary Items
            span.menu-pointer
        li.brouchers-nav#brouchers-nav
          a(
            href='#brouchers'
            ) Brouchers
              span.menu-pointer
  .right-panel
    include ./heading
    include ./visiting_cards
    include ./stationaries
    include ./brouchers
