#service-header.header
    .header-content
      h2 Header for services
#service-body.body
  .left-panel
    ul#service-item
      li
        a(
          href='#'
        ) Item description 1
      li
        a(
          href='#'
        ) Item description 2
      li
        a(
          href='#'
          ) Item description 3
  .right-panel
    .panel-header
      h3 Item header
    .panel-body
      .panel-text
        | Business card is very important aspect of advertising your business
      .panel-images
        figure.panel-blocks
          #image-1.image-tile
        figure.panel-blocks
          #image-2.image-tile
        figure.panel-blocks
          #image-3.image-tile
