#main-heading.sub-section
  header
    #main-sub-heading.heading
      h3 Services header
  section
    #sub-heading-content.contents
      .panel-text
        p
          | Business card is very important aspect of advertising your business
          | Often the "razor and blades" business model is applied.
          | That is, a company may sell a printer at cost, and make profits on the ink
          | cartridge, paper, or some other replacement part.
        p
          | This has caused legal disputes regarding the right of companies other
          | than the printer manufacturer to sell compatible ink cartridges.
          | To protect their business model, several manufacturers invest heavily in
          | developing new cartridge technology and patenting it.
        p
          | Other manufacturers, in reaction to the challenges from using this
          | business model, choose to make more money on printers and less on the ink,
          | promoting the latter through their advertising campaigns.
          | Finally, this generates two clearly different proposals:
          | "cheap printer – expensive ink" or "expensive printer – cheap ink".
      .panel-images
        figure.panel-blocks
          #image-1.image-tile
        figure.panel-blocks
          #image-2.image-tile
        figure.panel-blocks
          #image-3.image-tile
      .panel-text
        p
          | Ultimately, the consumer decision depends on their reference interest
          | rate or their time preference. From an economics viewpoint,
          | there is a clear trade-off between cost per copy and cost of the printer

  footer
    #visiting-cards-footer.sub-footer
      a(
        href='/orders'
        ) Place an order
