#stationary.sub-section
  header
    #stationary-heading.heading
      h3 Stationary heading
  section
    #stationary-content.contents
      | Labels on your stationary items reflects on quality and service
      | of your business. It gives immediate impression on company
      | reputation
  footer
    #visiting-cards-footer.sub-footer
      a(
        href='#'
        ) Place this order
