@import '../../../item_tile/frontend/main';

.left-panel {
  width: 70%;

  &.category {
    width: 100%;
  }

  .print-type {
    h1 {
      margin-top: 0;
      margin-bottom: 25px;
      text-align: center;
      font-size: 22px;
    }
  }
  .inner-section {
    min-height: 60px;

    &.main {
      height: 100px;
      margin-bottom: 20px;
    }

    label {
      display: inline-block;
      font-size: 17px;
      font-weight: 500;
      width: 200px;
    }

    .text-input {
      border: solid 1px $button-orig-color;
      color: $light-black;
      font-size: 16px;
      outline: 0;
      padding-left: 9px;
      width: 300px;
      height: 36px;
    }

    h2 {
      display: inline-block;
      font-size: 18px;
      margin: 5px 0 10px 0;
      padding-bottom: 4px;

    }

    .select-elem {
      display: inline-block;
      font-size: 14px;
      text-align: center;
    }

    &.file-upload-preview {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .file-preview {
        margin-left: 20px;

        button {
          background-color: $select-options;
          border: 1px solid $select-options;
          color: white;
          cursor: pointer;
          font-size: 16px;
          height: 40px;
          outline: 0;
          width: 100%;

          &:hover {
            background-color: $button-hover-color;
          }
        }
      }
    }
  }

  .print-options {
    &.show {
      visibility: visible;;
    }

    &.hide {
      visibility: hidden;
    }
  }

  .upload-box {
    border: 2px dashed #666;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    border-radius: 5px;

    &.active {
      border: 2px solid green;
    }

    &.reject {
      border: 2px solid red;
    }

    .upload-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      div {
        padding: 10px;
      }
    }
  }
  .Dropdown-root {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 300px;

    .Dropdown-control {
      position: relative;
      overflow: hidden;
      background-color: $white;
      border: 1px solid $button-orig-color;
      border-radius: 2px;
      box-sizing: border-box;
      color: #333;
      cursor: default;
      outline: none;
      padding: 8px 52px 8px 10px;
      transition: all 200ms ease;

      &:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      }

    }

    .Dropdown-arrow {
      border-color: #999 transparent transparent;
      border-style: solid;
      border-width: 7px 7px 0;
      content: ' ';
      display: block;
      height: 0;
      margin-top: -ceil(2.5);
      position: absolute;
      right: 10px;
      top: 14px;
      width: 0
    }

    .is-open .Dropdown-arrow {
      border-color: transparent transparent #999;
      border-width: 0 5px 5px;
    }

    .Dropdown-menu {
      background-color: white;
      border: 1px solid $button-hover-color;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      margin-top: -1px;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1000;
      -webkit-overflow-scrolling: touch;

      .Dropdown-group > .Dropdown-title{
        padding: 8px 10px;
        color: rgba(51, 51, 51, 1);
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    .Dropdown-option {
      box-sizing: border-box;
      color: rgba(51, 51, 51, 0.8);
      cursor: pointer;
      display: block;
      padding: 8px 10px;

      &:last-child {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:hover {
        background-color: #f2f9fc;
        color: #333;
      }

      &.is-selected {
        background-color: #f2f9fc;
        color: #333;
      }
    }

    .Dropdown-noresults {
      box-sizing: border-box;
      color: #ccc;
      cursor: default;
      display: block;
      padding: 8px 10px;
    }
  }
}

.item-box {
  display: inline-block;

  figure.multi-row {
    margin: 15px 15px 15px 0;

    .item-tile {
      align-items: center;
      width: 240px;

      h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      p {
        margin-top: 5px;
      }

      .item-image {
        text-align: center;

        img{
          height: 160px;
          width: 160px;
        }
      }

      .item-description {
        background-color: $lightest-gray;
        padding: 8px;

        .item-text {
          height:100px;
        }
      }
    }

    .item-action {
      margin-top: 10px;
      text-align: center;

      .action-box {
        display: inline-block;

        a {
          color: $dark-gray;
          display: block;
          font-size: 20px;
          line-height: 35px;
          outline: 0;
          text-align: center;
          width: 125px;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
