.contents {
  .main-section-content {

    .main-section-header {
      h3 {
        font-size: 16px;
        margin: 15px 0 30px 10px;

        span {
          display: inline-block;
          padding: 0 20px;
        }

        a {
          font-weight: 500;

          &.active {
            font-weight: 600;
          }
        }
      }
    }

    .main-section-body {
      display: flex;
      justify-content: space-between;

      @import './left_panel';
      @import './right_panel';
    }
  }
}

.files-preview-modal {
  max-width: 700px;

  h3 {
    display: inline-block;
    margin: 10px;
  }

  .files-preview-content {

    .card-box {
      display: inline-block;
      margin: 10px;

      img {
        display: block;
        max-height: 250px;
        max-width: 250px;
      }

      .file-caption {
        padding: 10px 0;
        text-align: center;
      }
    }
  }

  .close-icon {
    cursor: pointer;
    float: right;
    font-size: 28px;
    padding-right: 20px;
    text-align: right;
    width: 9%;

    &:after {
      content: "\00d7";
      display: inline-block;
    }
  }

}
