.right-panel {
  font-size: 16px;
  min-width: 340px;

  .right-panel-content {
    border: 1px solid $light-gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

    &.sticky {
      position: fixed;
      top: 50;
      width: inherit;
    }

    ul {

      li {
        border-radius: 1px;
        height: 40px;
        vertical-align: middle;
        position: relative;

        .label {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          width: 110px;
        }

        &.upload-list {
          height: auto;

          .file-name {
            height: 25px;
            font-size: 15px;
          }
        }

        .file-preview {
          display: inline-block;

          a {
            outline: 0;
          }
        }
      }
    }

    .header {
      text-align: center;
    }

    .clear {
      color: $link-color-normal;
      cursor: pointer;
      float: right;
      text-align: center;

      &.hide {
        display: none;
      }
    }
  }

  .form-field {
    outline: 0;
    border: 0;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
  }

  .checkout-button {
    margin-top: 25px;
    text-align: center;

    button {
      background-color: $button-orig-color;
      border: 1px solid $button-orig-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 20px;
      height: 50px;
      outline: 0;
      width: 100%;

      &.inactive {
        color: $light-gray;
      }

      &.active {
        color: $white;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
}
