.slide-image
  .image-text
    h1 Our Business
    | We thrive to deliver the products on time
    | to customers
div
  p
    | Gang run printing is a method in which multiple printing projects
    | are placed on a common paper sheet in an effort to reduce printing
    | costs and paper waste. Gang runs are generally used with sheet-fed
    | printing presses and CMYK process color jobs, which require four
    | separate plates that are hung on the plate cylinder of the press.
  p
    | Printers use the term "gang run" or "gang" to describe the practice
    | of placing many print projects on the same oversized sheet.
    | Basically, instead of running one postcard that is 4 x 6 as an
    | individual job the printer would place 15 different postcards on 20 x 18
    | sheet therefore using the same amount of press time the printer will
    | get 15 jobs done in the roughly the same amount of time as one job
  p
    | Gang run printing is a method in which multiple printing projects
    | are placed on a common paper sheet in an effort to reduce printing
    | costs and paper waste. Gang runs are generally used with sheet-fed
    | printing presses and CMYK process color jobs, which require four
    | separate plates that are hung on the plate cylinder of the press.
