extends ../base/main.pug

block links
  link(
    rel='prefetch'
    href='/assets/slide_image1.jpg'
    )
  link(
    rel='prefetch'
    href='/assets/slide_image2.jpg'
    )

block contents
  .contents#main-contents
    section.main-section
      include ./contents

block footer
  .c-footer#c-footer
    include ../footer/main
