.contact-options
  .contact-address.option
    .contact-icon.icon
    ul.details
      li.contact-phone
        span.phone-number.field-value +91-9876543210
      li.contact-email
        span.email-id.field-value Complain: care@tisko.com
      li.contact-email
        span.email-id.field-value Query: care@tisko.com

  .office-address.option
    .address-icon.icon
    p.details
      | Tisko Printing
      br
      | cross road, Mystery nagar
      br
      | Adventure, Bihar - 811001

  .timings.option
    .timing-icon.icon
    ul.details
      li
        span Monday-Friday: 9am to 7pm
      li
        span Saturday: 10am to 5pm
      li
        span Sunday: Closed

  .social-media.option
    ul
      li
        FB
      li
        Tweet
