#service-header.header
    .header-content
      h2 Header for Products
#service-body.body.reverse
  .left-panel
    nav#service-item
      ul
        li.printed-tshirts-nav#printed-tshirts-nav
          a(
            href='#printed-tshirts'

          ) Printed T-shirts
            span.menu-pointer
        li.printed-mugs-nav#printed-mugs-nav
          a(
            href='#printed-mugs'
          ) Printed Mugs
            span.menu-pointer
        li.posters-nav#posters-nav
          a(
            href='#posters'
            ) Fancy Posters
              span.menu-pointer
  .right-panel
    include ./heading
    include ./printed_tshirts
    include ./printed_mugs
    include ./posters
