#printed-tshirts.sub-section
  header
    #printed-tshirts-heading.heading
      h3 Printed T-shirts heading
  section
    #printed-tshirts-content.contents
      p
        | You want to impress anyone on first meet, then get one very
        | impressing visiting card from us. It can help you achieve
        | personal as well as professional goals
      p
        | Block printing first came to Europe as a method for printing on cloth,
        | where it was common by 1300. Images printed on cloth for religious
        | purposes could be quite large and elaborate. When paper became
        | relatively easily available, around 1400, the medium transferred very
        | quickly to small woodcut religious images and playing cards printed on
        | paper. These prints produced in very large numbers from about 1425 onward

  footer
    #printed-tshirts.sub-footer
      a(
        href='/order?mode=products&item=t_shirts'
        ) Buy Printed T-shirts
