#printed-mugs.sub-section
  header
    #printed-mugs-heading.heading
      h3 Printed Mugs heading
  section
    #printed-mugs.contents
      p
        | Labels on your stationary items reflects on quality and service
        | of your business. It gives immediate impression on company
        | reputation

      p
        | Compared to woodblock printing, movable type page setting and
        | printing using a press was faster and more durable.
        | Also, the metal type pieces were sturdier and the lettering more uniform,
        | leading to typography and fonts. The high quality and relatively
        | low price of the Gutenberg Bible (1455) established the superiority
        | of movable type for Western languages. The printing press rapidly
        | spread across Europe, leading up to the Renaissance, and later all around the world
  footer
    #printed-mugs-footer.sub-footer
      a(
        href='#'
        ) Buy Printed Mugs
