header .top-header {
  .promotional-header {
    div {
      display: inline-block;

      &.promotional-text {
        line-height: 33px;
        margin: 0 auto;
        text-align: center;
        vertical-align: top;
        width: 90%;

        a {
          margin-left: 10px;
        }
      }

      &.close-icon {
        cursor: pointer;
        font-size: 28px;
        padding-right: 20px;
        text-align: right;
        width: 9%;

        &:after {
          content: "\00d7";
          display: inline-block;
        }
      }
    }
  }

  nav {
    margin: 0;
    padding: 0;
  }

  .main-header {
    background-color: $theme-color;

    .main-header-content {
      align-items: center;
      display: flex;
      height: 60px;
      justify-content: space-between;
      margin: 0 auto;
      // max-width: $max-width;
      padding: 0 20px;

      a {
        color: $link-color-bg;

        &:hover {
          color: $link-color-bg-hover;
        }
      }

      .company-logo {
        font-size: 22px;
        font-weight: bolder;

        a {
          outline: 0;
        }
      }

      .user-info {
        .user-info-item {
          display: inline-block;
          padding: 0 10px;

          &:last-child {
            padding-right: 0;
          }
        }

        #user-cart a::before {
          background: url("/assets/cart.png") no-repeat;
          content: '';
          display: inline-block;
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .top-nav {
      border-bottom: 1px solid $lighter-gray;

      .menu-options {
        align-items: center;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0 auto;
        max-width: $max-width;
        padding: 0 10px;

        > li > a {
          cursor: pointer;
          display: inline-block;
          font-weight: 300;
          line-height: 40px;
          height: 40px;

          &.focused {
            border-bottom: 2px solid $button-hover-color;
          }
          &:focus, &:hover {
            border-bottom: 2px solid $button-hover-color;
          }
        }
      }

      .inner-menu {
        left: 0;
        position: absolute;
        width: 100%;

        .sub-nav {
          display: none;
          margin: 0 auto;
          max-width: $max-width;
          position: relative;
          width: 100%;
          z-index: 99;

          .inner-menu-content {
            background-color: $white;
            border: 1px solid $lighter-gray;
            display: flex;
            justify-content: space-between;
            margin: 0 10px;

            .submenu-options {
              border-right: 1px dotted $lighter-gray;
              line-height: 2em;
              list-style-type: none;
              margin: 10px 30px 10px 10px;
              padding: 20px;
              text-align: left;

              li {
                &:hover {
                  background-color: $light-gray;
                }

                .sub-nav-links {
                  color: $link-color-normal;
                  display: block;
                  padding: 2px 0 2px 8px;

                  &:hover {
                    color: $link-color-bg;
                    background-color: $button-hover-color;
                  }
                }
              }

              &.col-1 {
                width: 35%;
              }

              &.col-2 {
                width: 25%;
              }
            }

            .submenu-picture {
              padding: 15px;

              img {
                height: 275px;
                width: 450px;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    nav.user-info #cart-nav span {
      display: none;
    }

    nav.top-nav {
      .menu-options {
        list-style-type: none;
        margin: 0 auto;
        max-width: $max-width;
        padding: 0;

        li {
          a {
            font-weight: 600;
            margin-left: 15px;
            line-height: 35px;
          }

          &:hover {
            background-color: $theme-color;

            a {
              color: $link-color-bg;
            }

            nav {
              display: block;
            }
          }

          .menu-pointer {
            display: inline-block;
          }

          nav {
            display: none;

            .submenu-options {
              line-height: 1.5em;
              list-style-type: none;
              padding: 0;
              text-align: left;

              li {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}
