.header {
  margin-bottom: 1px;

  .full-header {
    background-color: #0A6689;
    border-bottom: 1px solid #999;

    a {
      color: white;
    }

    .header-content {
      align-items: center;
      color: white;
      display: flex;
      height: 50px;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 10px;

      .company-info {
        font-size: 19px;
        font-weight: bolder;
      }

      .user-info {
        .user-info-item {
          padding: 0 10px;

          &:last-child {
            padding: 0 0 0 10px;
          }
        }

        #user-cart a::before {
          background: url("/assets/cart.png") no-repeat;
          content: '';
          display: inline-block;
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    nav#top-nav {
      border-bottom: 1px solid #999;

      .menu-options {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 10px;

        > li {
          cursor: pointer;
          display: inline-block;

          &:hover {
            .menu-pointer {
              border-top: none;
              border-bottom: 8px solid #126482;
            }

            nav {
              display: block;
            }
          }

          .menu-pointer {
            display: inline-block;
          }

          > a {
            font-weight: 300;
            line-height: 35px;
          }

          nav {
            background-color: #fff;
            display: none;
            min-width: 150px;
            position: absolute;
            z-index: 99;

            .submenu-options {
              border: 1px solid #bbb;
              border-top: none;
              line-height: 1.5em;
              list-style-type: none;
              padding: 0;
              text-align: left;

              li {
                &:hover {
                  background-color: #ccc;
                }

                a {
                  display: block;
                  padding: 2px 0 2px 8px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    nav.user-info #cart-nav span {
      display: none;
    }

    nav#top-nav {
      border-bottom: 1px solid #999;

      #menu-options {
        list-style-type: none;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0;

        li {
          a {
            font-weight: 600;
            margin-left: 15px;
            line-height: 35px;
          }

          &:hover {
            background-color: #0A6689;

            a {
              color: white;
            }

            nav {
              display: block;
            }
          }

          .menu-pointer {
            display: inline-block;
          }

          nav {
            display: none;

            .submenu-options {
              line-height: 1.5em;
              list-style-type: none;
              padding: 0;
              text-align: left;

              li {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}
