.main-section-content#main-section-content
  .main-section-header
    | Print Order Header
  .main-section-body
    .inner-section#print-type
      | Print Type
    .inner-section#print-size
      | Print Size
    .inner-section#print-materials
      | Print Materials
    .inner-section#print-quantity
      | Print Quantity
    .inner-section#print-design
      | Print Design
    .inner-section#print-preview
      | Print Preview
    .inner-section#print-estimates
      .inner-section-2#time-estimates
        | Time Estimates
      .inner-section-2#amount-estimates
        | Amount Estimates
  .main-section-footer
    .inner-section#checkout
      | Checkout
