@import 'header';

body {
  margin: 0;

  a {
    text-decoration: none;
    color: #126482
  }

  .icon-down-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #126482;
  }

  .icon-up-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #126482;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #contact-content {
    max-width: 1000px;
    margin: 0 auto;

    .contact-header {
      border-bottom: 1px solid #aaa;
      padding-bottom: 5px;

      .contact-header-main {
        display: inline-block;
        padding: 0 10px;

        h3 {
          margin: 0;
        }
      }

      .contact-header-optional {
        display: inline-block;
        font-size: 14px;
        text-transform: capitalize;

        .contact-header-contact {
          padding-left: 4px;
        }
      }
    }

    .contact-body {
      display:  flex;
      justify-content: space-between;
      margin-top: 10px;

      .contact-form, .contact-optional {
        display: inline-block;
        padding: 0 10px;
      }

      .separator {
        border-left: 1px solid #aaa;
      }

      .contact-form {

        fieldset {
          border: 0;
          margin: 0;
          padding: 0;

          >div {
            padding: 5px 0;
          }

          label {
            display: inline-block;
            width: 135px;
          }

          .field {
            input, select {
              font-size: 15px;
              height: 28px;
              width: 215px;
            }

            textarea {
              width: 400px;
              height: 150px;
            }
          }

          .contact-button {
            padding: 20px 0 0 100px;

            a {
              height: 21px;
              display: inline-block;
              width: 90px;
              text-align: center;
              padding: 5px;
              font-size: 16px;
              background-color: #0a6689;
              color: white;
            }
          }
        }
      }

      .contact-optional {
        align-items: flex-start;
        display: flex;
        min-width: 300px;

        #contact-optional {
          font-size: 15px;

          a {
            font-size: 16px;
            padding: 0 5px;
          }

          li {
            padding: 5px 0;
            .phone-number, .email-id {
              padding-left: 15px;
            }

            .additional {
              display: block;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
