header {
  .header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #0A6689;
    color: white;
    border-bottom: 1px solid #999;
    height: 50px;

    .company-info, .contact-info, .user-info {
      height: 100%;
    }

    .company-info {
      font-size: 19px;
      font-weight: bolder;
      text-align: left;
      width: 30%;

      a {
        color: white;
      }
    }

    .contact-info {
      text-align: center;
      width: 30%;
    }

    .user-info {
      text-align: right;
      width: 39%;
    }
  }

  nav#top-nav {
    border-bottom: 1px solid #999;

    ul#menu-options {
      align-items: center;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0 80px;

      > li {
        display: inline-block;
        margin: 0 15px;

        &:hover{
          // border-bottom: 2px solid #0a6689;

          nav {
            display: block;
          }
        }

        > a {
          font-weight: 600;
          line-height: 35px;
        }

        .menu-pointer {
          display: inline-block;

        }

        nav {
          background-color: #fff;
          display: none;
          min-width: 150px;
          position: absolute;

          ul {
            border: 1px solid #bbb;
            border-top: none;
            line-height: 1.5em;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;

            li {
              padding: 2px 0 2px 8px;

              &:hover {
                background-color: #ccc;
              }
            }
          }
        }
      }
    }
  }
}
