@import 'promotion_header';
@import 'header';
@import 'contents';
@import 'footer';

body {
  margin: 0;

  a {
    text-decoration: none;
    color: #126482
  }

  .icon-down-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #126482;
  }

  .icon-up-arrow {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #126482;
  }
}
