.list-options {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 30px;
  margin: 5px 0;
  padding: 0;

  li {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 20%;

    &:last-child {
      width: 19%;
    }
  }
}
