.promotion-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 30px;

  .promotion-text {
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    width: 79%;

    a {
      margin-left: 10px;
    }
  }

  .close-icon {
    font-size: 28px;
    margin-right: 20px;

    &:after {
      content: "\00d7";
      display: inline-block;
    }
  }
}
