#session-content
  .session-header
    span.session-header-main
      h3 Forgot your password?

  .session-body
    .session-form
      include ./forgot_password_form

    .separator

    .session-optional
      include ./forgot_password_optional
