.c-footer {
  background-color: $lightest-gray;
  border-top: 1px solid $light-gray;
  margin-top: 30px;
  min-height: 150px;

  footer {
    margin: 15px 30px;

    .footer-links {
      justify-content: space-between;

       li {
        display: inline-block;
        margin: 0 auto;
        width: 33%;

        &.internal-links, &.company-links, &.legal-info {
          vertical-align: top;
          ul li {
            display: block;
          }
        }

        &.legal-info {
          text-align: center;
          vertical-align: top;
        }
      }
    }

    .copyright {
      padding: 10px 0;
      text-align: center;
      width: 100%;

      &:before {
        content:"\00a9";
        padding-right: 5px;
      }
    }
  }
}
