.home {
  nav#top-nav {
    border-bottom: 0;
  }
}

.contents {
  min-height: 600px;

  .main-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
  }

  .sub-section {
    margin: 10px 0;
  }

  .container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    text-align: center;
    position: relative;

    .nav-item {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .next {
        background-image: url('/assets/plainicon_right.png');
        background-size: cover;
        cursor: pointer;
        height: 60px;
        width: 60px;
      }

      .prev {
        background-image: url('/assets/plainicon_left.png');
        background-size: cover;
        cursor: pointer;
        height: 60px;
        width: 60px;
      }

    }
    .slider-item {
      @include transition(background-image, 0.5s);
      background-size: cover;
      display: none;
      height: 300px;
      width: 100%;
    }
  }
}
