@import "./top_panel";
@import "./left_panel";
@import "./right_panel";
@import "./orders";
@import "./select";

.nav-content {
  display: flex;
  margin-top: 30px;
  min-height: 250px;
}

.separator {
  border-top: 1px dotted $light-gray;
}
