.nav-header {
  width: 770px;
  margin: 0 auto;

  nav.account-nav {
    margin-bottom: -1px;

    .menu-options {
      align-items: flex-start;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 10px;

      .nav-item {
        cursor: pointer;
        display: inline-block;
        min-width: 100px;
        text-align: center;

        &.selected {
          border-bottom: 2px solid $nav-active-bottom;
        }

        a {
          display: block;
          font-weight: 300;
          line-height: 40px;
          outline: 0;

          &.selected {
              border-bottom: 2px solid $nav-active-bottom;
            }

          &:hover {
            border-bottom: 2px solid $button-hover-color;
          }
        }
      }
    }
  }
}
